body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #FFD700; /* Gold */
}

#game-container {
    position: relative; 
}

canvas {
    background-color: #000;
    border: 2px solid #0000FF; /* Blue */
    display: block;
    margin: 20px auto;
}

#score-container {
    width: 400px; 
    margin: 0 auto;
    background-color: #222;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #FFD700;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

#game-over, #victory {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
    border: 2px solid #FFD700;
    text-align: center;
}

#game-over h2, #victory h2 {
    margin-bottom: 20px;
}


#restart-button, #restart-button-victory {
    background-color: #FFD700;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#restart-button:hover, #restart-button-victory:hover {
    background-color: #fff;
}
